[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
scikit_posthocs = "*"
rpy2 = "==3.3.6"
func-helper = {git = "https://github.com/Fumipo-Theta/func_helper"}
dataframe-helper = {git = "https://github.com/Fumipo-Theta/dataframe_helper"}
data-loader = {git = "https://github.com/Fumipo-Theta/data_loader"}
tqdm = "*"
networkx = "<3"

[dev-packages]

[requires]
python_version = "3.9"
